HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# OS-specific files (Mac, Windows, Linux)
.DS_Store
Thumbs.db
Desktop.ini

# IntelliJ IDEA specific files
.idea/

# Eclipse specific files
.settings/

# Log files
*.log
*.out

# Local development files (like database files, etc.)
*.h2.db
*.sqlite